/*logo, Bienvenido*/
img{
	margin: 20%;
	width: 50%;
}

img+h3{
	color:#28c5e6;

}

h3+h4{
	 color:#989898;	
}
/*Formulario*/
input{
	border-radius: 2px;
	width: 400px;
	border: solid 2px #D8D8D8;
	height: 40px;
	margin-bottom:5%; 
}
label{
	color:#BDBDBD;
	font-family:NeutraText-LightAlt;
	font-size: 140%;
	display: block;
}

form p{
	font-size: 140%;
	margin-right:10%;
	margin-top:2%;
}
form{
	margin-top:25%;
}
form button{
	background-color: #ff6a49;
	padding:2% 5%;
	border-radius: 15px;
	border-style: none;
	color:white;
	font-size:110%;
	margin-left: 48%;
	margin-bottom: 5%;
	margin-top: 5%;
}